.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 20px;
    width: 500px;
    margin: 5px;
    background-image: linear-gradient(
        to bottom right,
        rgb(0, 195, 255),
        rgb(183, 0, 255)
    );
}

.option {
    padding: 5px;
    font-size: 2em;
}

.weather__image > img {
    width: 75px;
}

@media screen and (max-width: 700px) {
    .weather {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 15px;
        padding: 20px;
        width: 300px;
        margin: 5px;
        background-image: linear-gradient(
            to bottom right,
            rgb(0, 195, 255),
            rgb(183, 0, 255)
        );
    }
}
